@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-hover: var(--hover);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0F172A;
  --surface: #1E293B;
  --foreground: #F8FAFC;
  --primary: #2563EB;
  --secondary: #64748B;
  --accent: #F59E0B;
  --hover: #334155;
  --border: rgba(255, 255, 255, 0.05);
  --header-background: rgba(15, 23, 42, 0.8);
  --header-foreground: #F8FAFC;
}

:root[class="light"] {
  --background: #F1F5F9;
  --surface: #FFFFFF;
  --foreground: #0F172A;
  --primary: #1D4ED8;
  --primary-foreground: #FFFFFF;
  --secondary: #94A3B8;
  --accent: #D97706;
  --hover: #E2E8F0;
  --border: #E2E8F0;
  --header-background: #1D4ED8;
  --header-foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.background-container {
  background-color: transparent;
  border: none;
}

:root[class="light"] .background-container {
  background-color: #FDFDFD !important;
  border: 1px solid #D1DBE1 !important;
  border-radius: 12px !important;
}