@import "tailwindcss";

@theme inline {
  --color-background: #0B1121;
  --color-surface: #151E32;
  --color-primary: #00F0FF;
  --color-secondary: #00FF9D;
  --color-accent: #FF0055;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0B1121;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}